h1 Channel Status
div#content

div#legend
  h2 Legend
  table
    tr
      td.probe.unknown Not reported by this probe
    tr
      td.probe.ok OK (no errors, good PPS). Data rate reported in Mbits/second.
    tr
      td.probe.warn Warning (there were errors within the last history interval). Errors reported as errors per hour.
    tr
      td.probe.crit Critical (there were errors within the last measurement interval). Errors reported as error rate (errors/packets).
    tr
      td.probe.missing Missing (too low PPS). Packets/second reported.
  p
    | The measurement interval is
    span#refreshInterval -
    |  seconds. The history interval is
    span#historyInterval -
    |  seconds.
