h1 Channel Status
div#content

div#legend
  h2 Legend
  table
    tr
      td.probe.unknown Not reported by this probe
    tr
      td.probe.ok OK (no errors, good PPS). Data rate reported in Mbits/second.
    tr
      td.probe.warn Warning (some errors). Errors reported as errors/hour.
    tr
      td.probe.crit Critical (many errors). Errors reported as errors/hour.
    tr
      td.probe.missing Missing (too low PPS). Packets/second reported.
  p
    | Statistics updated every
    span#refreshInterval -
    |  seconds.
