!!!
html
  head
    title IPTV Channel Status
    link(rel='stylesheet', href='/default.css')
    script(src="/underscore.js")
    script(src="/prototype.js")
    script(src="/app.js")
  body
    !{body}
