body {
    font-family: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    font-size: 10pt;
    line-height: 1.2;
    font-weight: 300;
}
table {
    border-collapse: collapse;
}
tr.odd {
    background: #eee;
}
th {
    background: #444;
    color: #eee;
    font-weight: 400;
    padding: 2px;
}
th.group {
    padding-left: 8px;
    padding-right: 8px;
}
th.probe {
    text-align: center;
    min-width: 60px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.probe {
    padding: 1px;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 6px 2px;
    font-size: 9pt;
}
td.probe.missing {
    background-image: url(/img/cross.png);
}
td.probe.ok {
    background-image: url(/img/accept.png);
    color: #040;
}
td.probe.warn {
    background-image: url(/img/error.png);
    color: #330;
}
td.probe.crit {
    background-image: url(/img/exclamation.png);
    color: #400;
}
td.probe.unknown {
    background-image: url(/img/control_stop.png);
    color: #666;
}
#legend td {
    height: 16px;
}

.tight {
    word-spacing: -0.15em;
}
